:root {
    --a-text-color: #8EA2B4;
}

body {
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

a {
    list-style-type: none;
    text-decoration: none;
    color: var(--a-text-color);
}